<form id="order-form" action="#">
	<label for="orderName">Your Name </label>
    <input id="orderName" name="orderName" type="text">

	<label for="ingredientList">Choose your ingredients </label>
	{{#each ingredients}}
	<ul class="ingredient list">
		<li>
        	<input id={{this}} name={{this}} type="checkbox">
        	{{@key}}{{title}}:  ${{price}}
        </li>
    </ul>
    {{/each}}
    <input type="submit" id="submit" value="Submit" />
    
</form>